
/*Reglas
Selectores
Declaraciones
Propiedades
Valores*/


ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}

.link{
    color: blueviolet;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
}
h1{
    margin: 0;
    
}
.portfoliointerior{
    padding: 20px;
    margin: 10px;
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 10px ;
    margin-bottom: 15px;
    background: white;
    display: flex;
    
    
    
    
}
.portfolio{
    background: #fafafa;
}
.portfolioimage{
    width: 500px;
    
}
.portfolio h2 {
    margin:1px;
    padding: 0px;
}

.header{
    background-color: #1d252c;
    color: white;
   
    display: flex;
    justify-content: space-between;
    height: 90px;
}
    

.header ol{
    height: inherit;
    display: flex;
}
.header ol li{
    height: inherit;
    
    
}
.header a {
    color: white;
    height: inherit;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 0 10px;
    
}
.menu{
    height: inherit;
    
}
.figure{
    margin: 0;
}
.hero {
    color: white;
    text-transform: uppercase;
    height: 300px;
    background-image: url(../images/hero.jpg);
    background-color: #1d252c;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right ;
    display: flex;
    align-items: center;
    
}
.hero h1{
font-size: 30px;
}
.hero strong{
    color: #026fff;
}
#experiencia{
    width: 500px;
    border: 1px solid gray;
    border-radius: 10px ;
    margin-bottom: 15px;
}

.texto-portafolio{
    
    width: 500px;
}

.flexbox{
 display: flex;
 
 
 height: 500px;
 align-items: center;
 
 justify-content: center;
}

.box{
    width: 100px;
    height: 100px;
    margin:5px;
    border: 1px solid red;
    flex-shrink: 0;
   
}

